<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room_property.name %>
</p>

<%= link_to 'Edit', edit_room_property_path(@room_property) %> |
<%= link_to 'Back', room_properties_path %>
