<h1>Editing Reservation</h1>

<%= render 'form', reservation: @reservation %>

<%= link_to 'Show', @reservation %> |
<%= link_to 'Pay with PayPal', new_order_path(:reservation_id => @reservation.id)%>
<%= link_to 'Back', reservations_path %>
