<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_of_room.name %>
</p>

<%= link_to 'Edit', edit_type_of_room_path(@type_of_room) %> |
<%= link_to 'Back', type_of_rooms_path %>
